<h1>貸出履歴一覧画面</h1>

<h4>検索フォーム</h4>
<%= form_with url:search_path, method: :get, local:true do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :model, :value => "lend" %>
    <%= f.submit "検索" %>
<% end %>

<table>
    <% @lends.each do |l| %>
        <%= link_to l.id, lend_path(l) %>
        <%= l.end_user.last_name %>
    <% end %>
</table>

<div><%= link_to "貸出処理", cart_items_path %></div>

<div><%= link_to "管理者トップへ戻る", root_path %></div>