<h1>書籍検索画面</h1>

<h4>検索フォーム</h4>
<%= form_with url:home_search_book_path, method: :get, local:true do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :model, :value => "book" %>
    <%= f.submit "検索" %>
<% end %>

<div>
    <% @books.each do |b|%>
        <p>書籍タイトル：　<%= b.title %></p>
        <p>ジャンル名：　　<%= b.genre.name %></p>
        <p>発行年月日：　　<%= b.date_publication %></p>
        <p>本棚：　　　　　<%= b.shelf.name %></p>
        <p>保管状況：　　 　
            <% if b.is_active == true %>
                保管中
            <% else %>
                廃棄済
            <% end %>
        </p>
      <%= link_to "詳細", book_path(b) %>
    <% end %>
</div>