<h1>書籍一覧画面</h1>

<div>
    <% @books.each do |b|%>
      <p>書籍タイトル：　<%= b.title %></p>
      <p>ジャンル名：　　<%= b.genre.name %></p>
      <p>発行年月日：　　<%= b.date_publication %></p>
      <p>本棚：　　　　　<%= b.shelf.name %></p>
      <%= link_to "詳細", book_path(b) %>
    <% end %>
</div>

<%= link_to "書籍新規登録", new_book_path %>
<%= link_to "ジャンル一覧", genres_path%>
<%= link_to "本棚一覧", shelves_path%>

<%= link_to "管理者トップへ戻る", root_path %>