<h1>書籍詳細画面</h1>

<div><%= @book.title %></div>
<div><%= @book.genre.name %></div>
<div><%= @book.date_publication %></div>
<div><%= @book.shelf.name %></div>
<div>
    <% if @book.is_active == true %>
        <p>保管</p>
    <% else %>
        <p>廃棄済</p>
    <% end %>
</div>

<%= form_with model:[ @book, @cart_item ], url:cart_items_path( @book, @cart_item ), local:true do |f| %>
    <%= f.hidden_field :book_id, :value => @book.id %>
    <%= f.hidden_field :admin_id, :value => current_admin.id %>
    <%= f.submit "カートに追加する" %>
<% end %>

<%= link_to "編集", edit_book_path %>
<%= link_to "書籍一覧へ戻る", books_path %>
<%= link_to "管理者トップへ戻る", root_path %>